.pulseEffect{
	position: absolute;
width: 10%;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
text-align: center;
padding: 12px 24px; 
color: #fff;
border-radius: 5px; 
background: #33e1ed; 
box-shadow: 0 0 0 0 rgba(230, 237, 255, 0.7); 
animation: effect 1.72s infinite cubic-bezier(0.66, 0, 0, 1);
}
@keyframes effect {
to {
box-shadow: 0 0 0 30px rgba(255, 249, 230, 0);
}
}